.index-body {
    background-color: #033e75;
}

.mycontainer{
    size: 90vh;
    position: absolute;
    top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

#frame {
    border: solid .5em black;
    border-radius: .75em;
    height: 50vh;
    /* margin-top: 8em; */
    position: absolute;
    top: 44%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#score{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    /* margin-top: 0em; */
    position: absolute;
    top: 0%;
    left: 50%;
    /* margin-right: 0%; */
    transform: translate(-50%, 0%);
}
.btn{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    /* padding: 0; */
}
/* 
.col{
    text-align: center;
} */