.navbar{
    margin-bottom: 0;
}
.board{
    background-color: #033e75;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;     
}
#frame {
    border: solid .5em black;
    border-radius: .75em;
    height: 21em;
    position: absolute;
    top: 44%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#score{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.btn{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
}

.wrapper{
	width: 90vw;
    height: 45em;
    text-align: center;
    border: 8px solid #0000;
    position: relative;
    overflow: visible;
    top: 10%;
    left: 50%;
    margin-right: 0;
    transform: translate(-50%, 0%);    
}

#over{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 81, 0);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.key_wrapper{
	width: 23em;
    height: 9em;
    text-align: center;
    border: 8px solid #0000;
    position: absolute;
    overflow: visible;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    bottom: 0;   
}

#start {
  position: absolute;
    background: #bd0000;
    border-radius: 10px;
    height: 6em;
    width: 8em;
    margin: 0;
    top: -141%;
    left: 50%;
    margin-right: 0%;   
    transform: translate(-50%, -50%);
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;      
}

#start_text {
    background: #bd0000;
    color: #fff;
    font-family: sans-serif;
    border-radius: 10px;
    height: 3em;
    width: 4em;
    margin: 0;  
}

.arrow{
    background-color: #00cc00;
    height: 2em;
    width: 2em;
    border-radius: 10px;
    font-size: 30px;
    position: absolute;
    overflow: visible;
    margin-right: 0;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;   
}

.arrow:hover{
    background-color: #008800;
}

#rightarrow{    
    right: 0;
    top: 50%;
    left: 85%;
}

#leftarrow{
    top: 50%;
    left: 15%;    
}

#rotatearrow{
    top: 15%;
    left: 50%;
}

#downarrow{
    top: 85%;
    left: 50%;
}

#mainstart{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.key_wrapper .fas{
    color: #e1e1e1;
    border-radius: 10px;
    font-size: .7em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/* -------------------------how to play---------- */
.instruction{
    font-family: 'Courier Prime', monospace;
    background-color: #ffa96f;
}
h2{
    font-family: 'Courier Prime', monospace;
    background-color: #ffa96f;
}

/* -------------------------footer--------------- */
footer{
   font-family: 'Courier Prime', monospace;
   background-color: #d801ff47;
   padding: 1em 0 1em 0;
}

ul li{
    font-size: 25px;
}

.copyright{
    float: left;
    font-weight: 500;
}

a{
    padding: 0 1em 0 1em;
    color: black;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

.fa-github:before{
    font-size: 1.2em;
}

.fa-linkedin-in:before{
    font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
    /* .index-body {
        background-color: #033e75;
    } */

    #rightarrow {
        top: 10%;
    }
    
    #leftarrow {
        top: 10%;
    }

    #downarrow {
        top: 80%;
        left: 50%;
    }

    #start {
        top: -208%;
        left: 50%;
        height: 6em;
        width: 8em;
    }

    .key_wrapper {
        top: 62%;
        height: 7em;
        width: 15em;
    }

    #frame {
        top: 35%;
        height: 20em;
    }

    #rotatearrow {
    top: 10%;
    }
}
@media only screen and (min-width: 768px) {
    #frame {
        top: 20%;
        margin-top: 75px;
    }

    .key_wrapper {
        top: 50%;
        width: 17em;
    }

    #rightarrow {
        top: 75%;
    }
    
    #leftarrow {
        top: 75%;
    }

    #downarrow {
        top: 130%;
        left: 50%;
    }

    #score {
        top: 0;
    }

    #over {
        top: 3%;
    }

    #rotatearrow {
    top: 75%;
    }
}
